<html>
	<head>
		<meta charset="utf8"/>
		<style>
			  li.genclass_1_1_1 {
			
			
			}
			  li.genclass_1_1_1 span.genclass_1_1_2 {
			
			display: block;
			padding-left: 20px;
			}
			
			  ul.genclass_2_1_1 {
			
			
			}
			  ul.genclass_2_1_1 li.genclass_2_1_2 {
			
			list-style: none;
			}
		</style>
	</head>
	<body ng-app="myApp">
		<!--
<app>
</app>
-->
		<div ng-controller="Ctrl_5">
			<ul class="genclass_2_1_1" ng-controller="Ctrl_2">
						- Product List
						
				<li class="genclass_1_1_1  genclass_2_1_2" ng-repeat="item in itemList" ng-controller="Ctrl_1" ng-click="EventHandler_1_1(item)">
							[Shelves  No.{{ $index+1 }}]
							
					<span class="genclass_1_1_2">
						Product Name : {{ item.name }}
					</span>
					<span class="genclass_1_1_2">
						Quantity : {{ item.count }}
					</span>
					<span class="genclass_1_1_2">
						Cost : {{ item.cost }}
					</span>
				</li>
			</ul>
					Money : {{ money }}
					
			<ul ng-controller="Ctrl_4">
						- Product List
						
				<li class="genclass_1_1_1" ng-repeat="item in itemList" ng-controller="Ctrl_3" ng-click="EventHandler_3_1(item)">
							[Shelves  No.{{ $index+1 }}]
							
					<span class="genclass_1_1_2">
						Product Name : {{ item.name }}
					</span>
					<span class="genclass_1_1_2">
						Quantity : {{ item.count }}
					</span>
					<span class="genclass_1_1_2">
						Cost : {{ item.cost }}
					</span>
				</li>
			</ul>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
		</script>
		<script>
			var myApp = angular.module('myApp',[]);myApp.controller('Ctrl_1', ['$scope', '$rootScope', function($scope, $rootScope) {
			    $scope.EventHandler_1_1 = function(item) {
			        $scope.$emit("item.click", item);
			    }
			}]);
			myApp.controller('Ctrl_3', ['$scope', '$rootScope', function($scope, $rootScope) {
			    $scope.EventHandler_3_1 = function(item) {
			        $scope.$emit("item.click", item);
			    }
			}]);
			myApp.controller('Ctrl_2', ['$scope', '$rootScope', function($scope, $rootScope) {
			    $scope.itemList = [];
			
			    $scope.itemList = $scope.$parent.itemList;
			    $scope.$on("item.click", function(e, item) {
			        $scope.$emit("buy", item);
			    });
			}]);
			myApp.controller('Ctrl_4', ['$scope', '$rootScope', function($scope, $rootScope) {
			    $scope.itemList = [];
			
			    $scope.itemList = $scope.$parent.cartList;
			    $scope.$on("item.click", function(e, item) {
			        $scope.$emit("sell", item);
			    });
			}]);
			myApp.controller('Ctrl_5', ['$scope', '$rootScope', function($scope, $rootScope) {
			    var itemHash = {
			        1: {
			            name: "A",
			            cost: 500
			        },
			        2: {
			            name: "B",
			            cost: 900
			        }
			    };
			    $scope.getItemInfo = function(id) {
			        return itemHash[id];
			    }
			    $scope.money = 5000;
			
			    $scope.itemInstList = [];
			    $scope.cartInstList = [];
			    $scope.itemInstList.push({
			        id: 1,
			        count: 2
			    });
			    $scope.itemInstList.push({
			        id: 2,
			        count: 2
			    });
			    $scope.itemInstList.push({
			        id: 1,
			        count: 2
			    });
			    $scope.itemInstList.push({
			        id: 1,
			        count: 1
			    });
			    $scope.itemInstList.push({
			        id: 2,
			        count: 2
			    });
			    $scope.itemInstList.push({
			        id: 2,
			        count: 1
			    });
			
			    function updateList(itemInstList, itemList) {
			        itemList.splice(0, itemList.length);
			        for (var i = 0; i < itemInstList.length; ++i) {
			            var itemInst = itemInstList[i];
			            itemList.push({
			                id: itemInst.id,
			                count: itemInst.count,
			                name: $scope.getItemInfo(itemInst.id).name,
			                cost: $scope.getItemInfo(itemInst.id).cost,
			                _inst: itemInst
			            });
			        }
			    }
			    $scope.itemList = [];
			    $scope.cartList = [];
			    $scope.updateItemList = function() {
			        updateList($scope.itemInstList, $scope.itemList);
			    };
			    $scope.updateCartList = function() {
			        updateList($scope.cartInstList, $scope.cartList);
			    };
			    $scope.updateItemList();
			    $scope.updateCartList();
			
			    function transaction(args) {
			        var fromList = args.from;
			        var toList = args.to;
			        var item = args.item;
			        var selectFunc = args.selectFunc;
			        var validFunc = args.validFunc;
			        var isValid = true;
			        if (validFunc != null) {
			            isValid = validFunc(item);
			        }
			        if (isValid) {
			            item.count--;
			            if (item.count <= 0) {
			                for (var i = 0; i < fromList.length; ++i) {
			                    if (fromList[i] == item) {
			                        fromList.splice(i, 1);
			                        break;
			                    }
			                }
			            }
			            var cartInst = null;
			            for (var i = 0; i < toList.length; ++i) {
			                if (toList[i].id == item.id) {
			                    var isSelect = true;
			                    if (selectFunc != null) {
			                        isSelect = selectFunc(toList[i]);
			                    }
			                    if (isSelect) {
			                        cartInst = toList[i];
			                        break;
			                    }
			                }
			            }
			            if (cartInst == null) {
			                cartInst = {
			                    id: item.id,
			                    count: 0
			                };
			                toList.push(cartInst);
			            }
			            cartInst.count++;
			        }
			    }
			    $scope.$on("buy", function(e, item) {
			        transaction({
			            from: $scope.itemInstList,
			            to: $scope.cartInstList,
			            item: item._inst,
			            selectFunc: function(it) {
			                return it.count < 3;
			            },
			            validFunc: function(it) {
			                var itemInfo = $scope.getItemInfo(it.id);
			                if (itemInfo.cost <= $scope.money) {
			                    $scope.money -= itemInfo.cost;
			                    return true;
			                } else {
			                    return false;
			                }
			            }
			        });
			        $scope.updateItemList();
			        $scope.updateCartList();
			    });
			    $scope.$on("sell", function(e, item) {
			        transaction({
			            from: $scope.cartInstList,
			            to: $scope.itemInstList,
			            item: item._inst,
			            selectFunc: function(it) {
			                return it.count < 2;
			            },
			            validFunc: function(it) {
			                var itemInfo = $scope.getItemInfo(it.id);
			                $scope.money += Math.round(itemInfo.cost * 0.5);
			                return true;
			            }
			        });
			        $scope.updateItemList();
			        $scope.updateCartList();
			    });
			}]);
		</script>
	</body>
</html>